<app-screen-header [title] = "'Afiliados'"></app-screen-header>
<app-add-button [buttonLabel] = "'Nuevo Afiliado'" [pathLink] = "'nuevo'" (buttonClicked)="eventButtonClicked()"></app-add-button>
<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">
      
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id afiliado </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <!-- Mail Column -->
        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
          </ng-container>

        <!-- Opciones Column -->
        <ng-container matColumnDef="opciones" >
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element" class="options-colum">
            <a class="icon-pointer" matTooltip="Actualizar" [routerLink] = "'actualizar'">
              <mat-icon (click)="affiliateToUpdate(element.id)">update</mat-icon>
            </a>
            <a class="icon-pointer" matTooltip="Eliminar">
              <mat-icon (click)="affiliateToDelete(element.id)" class="mat-icon-no-fill">delete</mat-icon>
            </a>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>