<mat-toolbar>
    <button mat-button class="mat-button-spacer" routerLink="/dashboard">
        <span>Agenda de citas</span>
    </button>
    <span class="spacer"></span>
    <button mat-button class="mat-button-spacer" routerLink="/dashboard/citas">
        <span class="material-icons md-30">calendar_today</span>
        <span>Citas</span>
    </button>
    <button mat-button class="mat-button-spacer" routerLink="/dashboard/pruebas">
        <span class="material-icons md-30">list_alt</span>
        <span>Pruebas</span>
    </button>
    <button mat-button class="mat-button-spacer" routerLink="/dashboard/afiliados">
        <span class="material-icons md-30">person</span>
        <span>Afiliados</span>
    </button>
</mat-toolbar>
    